@use '../abstracts/' as *;

.navbar {
	position: relative;
	font-size: 1rem;
	position: fixed;
	padding: 2rem 0;
	width: 100%;
	top: 0;
	background: transparent;
	z-index: 999;
	transition: 0.3s;

	@include breakpointDesktop(1155px) {
		background: var(--bg-color1);
		padding: 1.5rem 0;
	}

	&.active {
		background: var(--bg-color1);
		padding: 1.5rem 0;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			color: var(--green);
			font-size: 2em;
			font-weight: 500;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	}

	&__menu {
		display: flex;
		gap: 0.9rem;

		a {
			font-weight: 500;
			/* letter-spacing: 1.5px; */
			color: var(--color-main);
			transition: 0.3s;

			&:hover {
				color: var(--green-dark);

				@include breakpointDesktop(991px) {
					color: var(--color-main);
				}
			}
		}
	}

	&__search {
		position: relative;
		min-width: 350px;
		display: flex;

		input {
			width: 85%;
			outline: none;
			border: 1px solid var(--green-dark);
			background: transparent;
			border-right: none;
			border-radius: 20px 0 0 20px;
			padding: 0.6rem 1rem;
			color: var(--text-color);
			transition: 0.5s;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15%;
			background: transparent;
			border: 1px solid var(--green-dark);
			font-size: 1.1em;
			border-radius: 0 20px 20px 0;
			color: var(--green-dark);
			transition: 0.25s;
			cursor: pointer;

			&:hover {
				background: var(--green-dark);
				color: #ffffff;

				@include breakpointDesktop(991px) {
					background: transparent;
					color: var(--green-dark);
				}
			}
		}

		&-dropdown {
			position: absolute;
			top: 50px;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0.5rem;
			max-height: 300px;
			overflow-y: scroll;
			background: var(--bg-color3);
			border-radius: 8px;
			border: 2px solid var(--gray);
			z-index: 999;

			&::-webkit-scrollbar {
				width: 6px;
			}

			&::-webkit-scrollbar-track {
				background: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background: var(--gray-light);
				border-radius: 10px;
			}

			&-row {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				color: var(--text-color2);
				background: var(--bg-color2);
				border-radius: 5px;
				padding: 0.5rem;
				cursor: pointer;
				transition: 0.4s;

				&:hover {
					background: var(--gray);
				}

				img {
					width: 50px;
				}
			}
		}
	}

	&__rightArea {
		position: relative;
		display: flex;
		gap: 0.5rem;

		@include breakpointDesktop(991px) {
			display: none;
		}

		button,
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.3rem;
			font-size: 1.2em;
			border: none;
			background: transparent;
			color: var(--color-main);
			cursor: pointer;
		}

		&-wishlist {
			span {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.6em;
				top: -1px;
				right: 33px;
				width: 15px;
				height: 15px;
				background: var(--green-dark);
				border-radius: 50%;

				@include breakpointDesktop(768px) {
					right: 28px;
				}

				@include breakpointDesktop(480px) {
					top: -6px;
					right: 25px;
				}
			}
		}

		&-cart {
			span {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.6em;
				top: -1px;
				right: -3px;
				width: 15px;
				height: 15px;
				background: var(--green-dark);
				border-radius: 50%;

				@include breakpointDesktop(480px) {
					top: -6px;
				}
			}
		}
		div {
			position: absolute;
			top: 45px;
			background: var(--bg-color3);
			border-radius: 5px;
			opacity: 0;
			transition: 0.3s;

			@include breakpointDesktop(991px) {
				display: none;
			}

			span {
				display: block;
				padding: 0.5rem 0.8rem;
				color: var(--text-color2);
				font-size: 0.9em;
				text-align: center;
				letter-spacing: 0.5px;
				line-height: 1.5;
			}
		}

		&-editProducts {
			&:hover {
				+ .navbar__editProducts-effect {
					opacity: 1;
					top: 35px;
				}
			}
		}

		&-wishlist {
			&:hover {
				+ .navbar__wishlist-effect {
					opacity: 1;
					top: 35px;
				}
			}
		}

		&-cart {
			&:hover {
				+ .navbar__cart-effect {
					opacity: 1;
					top: 35px;
				}
			}
		}
	}
	&__editProducts-effect {
		left: -45px;
	}

	&__wishlist-effect {
		left: -13px;
		width: 130px;
	}

	&__cart-effect {
		right: -45px;
	}

	&__hamburger {
		display: none;

		@include breakpointDesktop(1155px) {
			display: block;
			cursor: pointer;
			outline: none;
			border: none;
			z-index: 3;
			background: transparent;

			span {
				display: block;
				width: 25px;
				height: 3px;
				margin: 5px auto;
				transition: all 0.5s ease;
				background: var(--text-color2);
			}

			&.active span:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			}

			&.active span:nth-child(2) {
				opacity: 0;
			}

			&.active span:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}

	/* ----- Mobile Navbar ----- */
	nav {
		display: flex;
		align-items: center;
		gap: 4.6rem;
		transition: right 0.4s;

		@include breakpointDesktop(1155px) {
			position: fixed;
			opacity: 0;
			right: -200%;

			&.active {
				opacity: 1;
				flex-direction: column;
				gap: 2rem;
				right: 0;
				top: 0;
				bottom: 0;
				width: 250px;
				height: 100%;
				padding: 1.5rem;
				background: var(--bg-color1);

				.navbar__menu {
					order: 2;
					width: 100%;
					flex-direction: column;
					gap: 0;

					li {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0.4rem;
						border-bottom: 1px solid var(--text-color);
					}

					a {
						width: 100%;
						height: 100%;
						padding: 0.5rem;
						text-align: end;
					}
				}

				.navbar__search {
					order: 1;
					margin-top: 3.5rem;
					min-width: 70px;
					border-bottom: 1px solid var(--green-dark);
					gap: 0.4rem;

					input {
						border: none;
						border-radius: 15px 0 0 15px;
						background: transparent;

						&::placeholder {
							color: var(--text-color);
							font-size: 0.875em;
						}
					}

					button {
						width: 20%;
						border: none;
						border-radius: 50%;
					}
				}

				.navbar__rightArea {
					order: 3;
					display: flex;
					justify-content: flex-end;
					width: 100%;
				}
			}
		}
	}
}
