.pagination {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	border-top: 1px solid var(--gray);
	padding: 1.5rem;
	width: 100%;
	gap: 1rem;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 40px;
		border: 1px solid transparent;

		&.active {
			background: var(--green-dark);
		}
	}
}
