@use '../../abstracts/' as *;

.productList {
	min-height: 200vh;
	font-size: 1rem;
	background: var(--bg-color2);

	&__wrapper {
		position: relative;
		display: flex;
		padding-top: 7rem;
		gap: 6.5rem;
	}

	.sidebar-toggle {
		display: flex;
		background: transparent;
		border-radius: 50%;
		border: none;
		padding: 0.5rem;
		font-size: 1.5em;
		color: var(--text-color2);
		cursor: pointer;
		z-index: 2;
		transition: 0.3s;

		@include breakpointDesktop(991px) {
			transform: rotate(180deg);
		}

		&:hover {
			background: var(--gray);
		}
	}

	&__content {
		position: relative;
		left: 28%;
		width: 65%;
		display: flex;
		flex-direction: column;
		padding: 2rem 0;
		gap: 2rem;
		transition: 0.15s;

		@include breakpointDesktop(991px) {
			left: 0;
			width: 100%;
		}

		&.active {
			left: 0;
			width: 100%;

			.sidebar-toggle {
				transform: rotate(180deg);
			}
		}

		&-error {
			display: flex;
			flex-direction: column;
			align-items: center;

			div {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				span {
					color: var(--text-color);
					font-size: 1.1em;
				}
			}

			h2 {
				font-size: 1.7em;
				font-weight: 500;
				color: var(--text-color2);
				margin-top: 2rem;
			}

			&-icon {
				margin-top: 3rem;
				display: flex;
				color: var(--text-color);
				font-size: 11.5em;
				font-weight: 400;
				text-align: center;
			}
		}

		&-top {
			display: flex;
			justify-content: space-between;

			@include breakpointDesktop(480px) {
				text-align: right;
				align-items: flex-end;
			}

			h2 {
				font-weight: 500;
				font-size: 2em;
				color: var(--text-color2);
				margin-bottom: 1rem;

				@include breakpointDesktop(480px) {
					display: none;
				}
			}

			p {
				color: var(--text-color);

				@include breakpointDesktop(480px) {
					display: none;
				}
			}

			div:nth-child(2) {
				align-self: flex-end;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				h3 {
					font-size: 1.2em;
					font-weight: 400;
					color: var(--text-color2);
				}

				div {
					flex-direction: row;

					button {
						background: none;
						border: 1px solid var(--text-color);
						color: var(--text-color2);
						padding: 0.5rem 1rem;
						transition: 0.25s;
						cursor: pointer;

						svg {
							font-size: 1.5em;
						}

						&.active {
							background: var(--gray);
						}

						&:hover {
							background: var(--gray);

							@include breakpointDesktop(991px) {
								background: none;
							}
						}
					}
				}
			}
		}

		&-items {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			gap: 1.5rem;
			justify-items: center;

			@include breakpointDesktop(991px) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include breakpointDesktop(768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include breakpointDesktop(480px) {
				grid-template-columns: repeat(2, 1fr);
				margin-top: 3rem;

				article {
					width: 200px;
				}
			}

			@include breakpointDesktop(375px) {
				article {
					width: 150px;
					height: 250px;
				}
			}

			@include breakpointDesktop(360px) {
				article {
					width: 140px;
					height: 240px;
				}
			}

			&.active {
				grid-template-columns: repeat(4, 1fr);

				@include breakpointDesktop(991px) {
					grid-template-columns: repeat(3, 1fr);
				}

				@include breakpointDesktop(768px) {
					grid-template-columns: repeat(2, 1fr);
				}

				@include breakpointDesktop(480px) {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		&-pagination {
			margin-top: 4rem;
			display: flex;
			justify-content: center;
			gap: 1rem;

			button {
				border-radius: 10px;

				&.active {
					background: var(--green-dark);
					border: 1px solid var(--green-dark);
				}
			}
		}
	}
}
