/* $primary-color: #557a95;
$secondary-color: #4a494d;
$terciary-color: #7395ae;
$background-light: #b1a296;
$background-dark: #928f9a;
$text-light: #fafafa;
$text-dark: #101010;
 */

//Here I put my color variables
